/* Custom styles */
.face-generator {
  padding: 2rem;
}

.face-generator .controls {
  margin-top: 2rem;
}

.face-generator .parameters {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  gap: 1rem;
  margin-top: 2rem;
}

.face-generator meter {
  width: 100%;
}

.monospace {
  font-family: monospace;
  letter-spacing: 0.1em;
}
